body {
    padding: 50px;
    background-color: #008080;
    font-family: sans-serif;
  }
  
  h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  #container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  
  .todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
    font-family: 'Roboto', sans-serif;
  }
  
  .todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color:	#008080;
    color: #FFF;
    border: 2px solid #004040;
    font-family: 'Roboto', sans-serif;
  }
  
  .todoListMain .header button:hover {
    background-color: #004040;
    border: 2px solid #008080;
    cursor: pointer;
  }
  
  .todoListMain .theList {
    list-style: none;
    color: #800000;
    padding-left: 0;
    width: 250px;
  }
  
  .todoListMain .theList li {
    color: #333;
    background-color: #400000;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
  }
  
  ul.theList {
    padding: 0;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  
  
  .theList li {
    color: white;
    background-color: #004040;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
    font-family: 'Roboto', sans-serif;
  }
  
  .todoListMain .theList li:hover {
    background-color: pink;
    cursor: pointer;
  }